.radio-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.radio-button__control {
    position: absolute;
    left: -9999px;
    
}

.radio-button__control:checked + span {
   display: inline-block;
   color: var(--light-prussian-blue)
}

.radio-button__control:checked + span + span {
    display: none;
 }

 .radio-button__control + span + span {
    display: inline-block;
    
 }

 .radio-button__control + span {
    display: none;
 }
