.droppdown {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.droppdown > .control {
    width: 100%;
    line-height: 1;
    border: 1px solid var(--light-prussian-blue);
    height: 2.5rem;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
}

.droppdown > .control:focus {
    outline: none;
}

.label {
    color: var(--light-prussian-blue);
}