.input-field {
    margin: 1rem 0;
}

.input-field__container {
    display: flex;
    align-items: center;
}

.label {
    padding-right: 1rem;
    font-weight: 400;
    flex: 0 0 auto;
    transition: color 0.3s;
}

.input {
    height: 2.5rem;
    border-radius: 0.25rem;
    flex: 1 1 auto;
    padding-left: 0.5rem;
    transition: border-color 0.3s;
}

.input:focus {
    outline: none;
}

.has-error,
.has-error label.label {
    color: var(--error);
}

.has-error input.input {
    border-color: var(--error);
}

.error-message {
    margin-top: 0.5rem;
    color: var(--error);
    font-size: 0.95rem;
}

.error-message__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dark .label{
    color: white;
}

.light .label{
    color: var(--light-prussian-blue);
}

.light .input{
    border: 1px solid var(--light-prussian-blue);
}